* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  --font_col: #f9f6ee;
  --background_col: #2b251f;
  --accent_col: #d95829;
  --font: Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--background_col);
  color: var(--font_col);
  font-family: var(--font);
}

h1 {
  font-size: 1.5rem;
  font-family: Arial black;
}

h2 {
  font-size: 1.2rem;
}

/* h3 {
  font-size: rem;
} */

p {
  font-size: 0.8rem;
  max-width: 65ch;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 700px) {
  h1 {
    font-size: 3rem;
    font-family: Arial black;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
  }
}

/* header */
/* nav */
/* .mainNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background_col);
  padding: 1rem;
}



.mainNav a {
  text-decoration: none;
  color: var(--font_col);
  padding-right: 2rem;
  font-size: 1rem;
}

nav {
  margin-right: 4rem;
} */

.mainNav img {
  padding-left: 2rem;
  width: 67%;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}
nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 10px;
  color: var(--font_col);
  font-family: var(--font);
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
}

.menu a:hover {
  color: #f00;
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: var(--accent_col);
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}

@media screen and (max-width: 700px) {
  .menu {
    display: none;
  }
  .burger {
    display: block;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: var(--background_col);
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 2;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 24px;
    font-family: var(--font);
    color: var(--font_col);
  }
}

/*footer mobil*/
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 6rem;
  padding-right: 6rem;
}

.footer_ikoner img {
  width: 70%;
  margin: auto;
}

.form {
  grid-column: 2;
}

input {
  margin-top: 0.2rem;
  margin-bottom: 0.8rem;
  width: 100%;
}

input.send {
  background-color: var(--accent_col);
  color: var(--font_col);
  font-size: 1rem;
  width: 70%;
}

@media (min-width: 700px) {
  form {
    display: flex;
    flex-direction: column;
    width: 12rem;
  }
  footer {
    display: flex;
    padding-top: 3rem;
    flex-direction: row;
    justify-content: center;
    column-gap: 7rem;
  }
  .logo {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    align-items: center;
  }

  .footer_logo {
    width: 15rem;
    border-radius: 0;
  }
}
