html {
  --font_col: #f9f6ee;
  --background_col: #2b251f;
  --accent_col: #d95829;
}

body {
  background-color: var(--background_col);
  color: var(--font_col);
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
}
