/* slut nav */

.front_img {
  position: relative;
}

.hero_img_front {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 80%;
}

.hero_img_text {
  position: absolute;
  top: 100px;
  left: 200px;
  z-index: 1;
  color: var(--font_col);
  border: 1px solid var(--font_col);
  padding: 10px;
}

.mascot_wawe {
  width: 7rem;
  height: auto;
  position: absolute;
  margin-left: 30px;
}

.section_intro {
  background-color: var(--accent_col);
  text-align: left;
  margin-bottom: 20px;
  padding: 20px;
}

.section_intro h1 {
  text-align: center;
  padding-top: 10px;
  text-transform: uppercase;
}

.front_img_container {
  position: relative;
  text-align: center;
  color: var(--font_col);
  margin: 10px 0;
}

.front_img_container img {
  aspect-ratio: 16/9;
  opacity: 50%;
}

p {
  margin: 1px auto;
  padding: 30px;
  padding-top: 75px;
  line-height: 1.5rem;
  max-width: 65ch;
}

h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

a {
  text-decoration: none;
  color: var(--font_col);
}

@media screen and (min-width: 700px) {
  .section_intro {
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    padding: 100px;
    place-items: center;
  }

  .section_text {
    grid-column: 2;
  }
  .frontpage_menu {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .front_img_container img:hover {
    opacity: 90%;
    cursor: pointer;
  }

  p {
    line-height: 1.7rem;
    margin: auto;
  }

  .section_intro h1 {
    text-align: center;
  }
  .mascot_wawe {
    position: relative;
    display: block;
    width: 22rem;
    height: auto;
    margin-right: 60px;
  }

  .hero_img_text {
    position: absolute;
    top: 90px;
    left: 100px;
    z-index: 1;
    color: var(--font_col);
    border: 1px solid var(--font_col);
    padding: 10px;
  }
}

@media screen and (min-width: 900px) {
  .hero_img_text {
    top: 110px;
    left: 175px;
  }
}

@media screen and (min-width: 1100px) {
  .hero_img_text {
    top: 150px;
    left: 280px;
  }
}

@media screen and (min-width: 1400px) {
  .hero_img_text {
    top: 210px;
    left: 440px;
  }
}

/*Footer*/
footer.logo_form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 2rem;
}

.footer_logo img {
  width: 30%;
  padding-bottom: 2rem;
}

@media (max-width: 700px) {
  /*footer mobil*/
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer_logo img,
  .footer_ikoner img {
    width: 20%;
  }
}

/*form style*/
form {
  display: flex;
  flex-direction: column;
  width: 12rem;
}

input {
  margin-top: 0.2rem;
  margin-bottom: 0.8rem;
  width: 100%;
}

input.send {
  background-color: var(--accent_col);
  color: var(--font_col);
  font-size: 1rem;
  width: 70%;
}

/*burgermenu*/
/*menu i mobil*/

/* .mainNav img {
  padding-left: 2rem;
  width: 40%;
} */
