/* nav */
.mainNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background_col);
  padding: 1rem;
}

.mainNav img {
  padding-left: 2rem;
  width: 67%;
}

.mainNav a {
  text-decoration: none;
  color: var(--font_col);
  padding-right: 2rem;
  font-size: 1rem;
}

nav {
  margin-right: 4rem;
}

/* slut nav */

.hero_img_plant {
  width: 100%;
  height: auto;
  aspect-ratio: 27/9;
  background-size: cover;
}

.plant_container {
  background-color: var(--accent_col);
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 30px;
}

.plant_description {
  line-height: 1.3rem;
  margin: auto;
}

.plant_titel {
  margin-bottom: 30px;
}

.description_img {
  border-radius: 100%;
  max-width: 100%;
  height: auto;
  margin: auto;
}

.plant_info {
  padding: 30px;
}

.icon_img {
  width: 3.5rem;
  padding: 5px;
}

.grid_1-1 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 10px;
  justify-items: start;
}

.text_span {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 6;
  line-height: 1.3rem;
}

.p_description {
  padding: 3px 0;
}

.p_bold {
  font-weight: bold;
}

h2 {
  padding-left: 75px;
  padding-bottom: 10px;
}

.button {
  display: flex;
  justify-content: center;
  margin: 30px;
}

.recipes_button {
  text-decoration: none;
  color: var(--font_col);
  padding: 15px 30px;
  box-shadow: 2px 2px 10px 1px black;
  border-radius: 0.5rem;
}

@media screen and (min-width: 700px) {
  .icon_img {
    width: 6rem;
    margin: auto;
  }
  .plant_titel {
    margin-bottom: 60px;
  }

  .description_img {
    max-width: 80%;
  }

  .plant_description {
    line-height: 1.8;
  }

  .text_span {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 5;
    line-height: 1.3rem;
  }
}
