/*difficulty och ingredients styles*/
.grid_1-1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-left: 3rem;
  padding-bottom: 3rem;
  line-height: 2.5rem;
}

.info {
  order: 2;
  margin-left: 4rem;
  text-transform: capitalize;
}

.directions {
  margin-left: 3rem;
  margin-right: 4rem;
  width: 70%;
  line-height: 2.5rem;
  margin: auto;
}

.directions_indhold {
  max-width: 700px;
}

.hero_image {
  position: absolute;
  top: -25%;
}

.hero_img {
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  max-width: 100%;
  height: 16rem;
  overflow: hidden;
}

/* h1 styling */
.h1 {
  background-color: var(--accent_col);
  padding: 1rem;
}

.h1 h1 {
  font-size: 2rem;
  margin-left: 3.5rem;
  text-transform: capitalize;
}

ol {
  line-height: 2rem;
}

li {
  padding-bottom: 0.5rem;
}

ul {
  list-style-type: none;
}

.info {
  padding-left: 2rem;
  padding-bottom: 3rem;
}

.ingredients {
  padding-left: 2rem;
  padding-right: 1rem;
}

.directions {
  padding-left: 2rem;
  padding-bottom: 3rem;
}

.info h2 {
  padding-top: 1rem;
}

.ingredients h2,
.directions h2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.grid_1-1 {
  padding-top: 2rem;
  padding-bottom: 3rem;
}

@media screen and (min-width: 700px) {
  .directions {
    margin: 10px 60px;
  }
}
