/* variable af farver */
html {
  --winter: #83b7c7;
  --spring: #bdc783;
  --summer: #fccf5b;
  --autumn: #e18848;
}

/* Styling body */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Hero img - Firefly solarpunk styled closeup overgrown skillet cooking mushrooms*/
.hero_img {
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero_img img {
  margin: auto;
}

/* h1, h2 og p styling */
.h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2rem;
}

section h2 {
  padding: 1rem 0 0 1rem;
}

p {
  text-transform: capitalize;
}

/* knap og menu styling */
#menu1 {
  background-color: var(--winter);
}

#menu1Knap {
  background-color: var(--winter);
}

#menu2 {
  background-color: var(--spring);
}

#menu2Knap {
  background-color: var(--spring);
}

#menu3 {
  background-color: var(--summer);
}

#menu3Knap {
  background-color: var(--summer);
}

#menu4 {
  background-color: var(--autumn);
}

#menu4Knap {
  background-color: var(--autumn);
}

#menu1Knap,
#menu2Knap,
#menu3Knap,
#menu4Knap {
  border-radius: 1rem 1rem 0 0;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin-left: 0.5rem;
  text-decoration: none;
  color: var(--background_col);
  font-weight: bold;
}

.link {
  text-decoration: none;
  color: var(--font_color);
}

.flex {
  display: flex;
  justify-content: center;
}

.recipes_article {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.recipes_article p {
  margin: auto;
}

.recipes_img_container {
  max-height: 11rem;
  overflow: hidden;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.5rem;
}

.recipes_img {
  max-width: 100%;
  border-radius: 1rem;
}

/* Recipes card styling */
@media screen and (min-width: 700px) {
  .recipesWinter_container,
  .recipesSpring_container,
  .recipesSummer_container,
  .recipesAutumn_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 0.5rem;
    padding-bottom: 5rem;
    padding: 3rem;
  }

  .recipes_img_container {
    max-height: 18rem;
    overflow: hidden;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0.5rem;
  }
  section h2 {
    padding: 2rem 0 0 3.3rem;
  }
}

@media screen and (max-width: 700px) {
  .recipesWinter_container,
  .recipesSpring_container,
  .recipesSummer_container,
  .recipesAutumn_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
