@media (min-width: 700px) {
  /*Header desktop*/
  .mainNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background_col);
    padding: 1rem;
  }
  .mainNav img {
    padding-left: 2rem;
    width: 67%;
  }
  .mainNav a {
    text-decoration: none;
    color: var(--font_col);
    padding-right: 2rem;
    font-size: 1.2rem;
  }
  nav {
    margin-right: 4rem;
  }

  /*Footer*/
  footer.logo_form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .footer_logo img {
    width: 50%;
    padding-bottom: 2rem;
  }
  .footer_ikoner img {
    width: 30%;
  }
  footer {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}
/*footer mobil*/
footer {
  text-align: center;
}

.footer_logo img,
.footer_ikoner img {
  width: 30%;
}

/*form style*/
form {
  display: flex;
  flex-direction: column;
  width: 12rem;
}
input {
  margin-top: 0.2rem;
  margin-bottom: 0.8rem;
  width: 100%;
}
input.send {
  background-color: var(--accent_col);
  color: var(--font_col);
  font-size: 1rem;
  width: 70%;
}
/*burgermenu*/
