/* menu styling */
/* #menu1,
#menu2,
#menu3,
#menu4 {
  border: #c24848 2px;
  color: #3a4454;
  font-size: 2.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --winter: #83b7c7;
  --spring: #bdc783;
  --summer: #fccf5b;
  --autumn: #e18848;
}

p {
  max-width: 65ch;
}

.menucard a {
  text-decoration: none;
  color: var(--font_col);
}
.seasons {
  padding: 2rem;
}

.seasons h1 {
  text-align: center;
  text-transform: uppercase;
}

.seasons p {
  text-align: center;
  padding-left: 20rem;
  padding-right: 20rem;
  max-width: 100%;
}

#winter_hero,
#spring_hero,
#summer_hero,
#autumn_hero {
  border-radius: 0;
  width: 100%;
  background-color: black;
  opacity: 40%;
}

article {
  position: relative;
}
.article_txt {
  position: absolute;
  top: 25%;
  padding: 2rem;
}

.menucard {
  padding: 2rem;
}

.winter_container {
  background-color: var(--winter);
}

#menu1Knap {
  background-color: var(--winter);
}

.spring_container {
  background-color: var(--spring);
}

#menu2Knap {
  background-color: var(--spring);
}

.summer_container {
  background-color: var(--summer);
}

#menu3Knap {
  background-color: var(--summer);
}

.autumn_container {
  background-color: var(--autumn);
}

#menu4Knap {
  background-color: var(--autumn);
}

#menu1Knap,
#menu2Knap,
#menu3Knap,
#menu4Knap {
  border-radius: 1rem 1rem 0 0;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin-left: 0.5rem;
}

.plantImg {
  border-radius: 50%;
}

.shadow1 {
  box-shadow: 5px 5px 21px #344950, -5px -5px 21px #d2ffff;
}
.shadow2 {
  box-shadow: 5px 5px 21px #868d5d, -5px -5px 21px #f4ffa9;
}
.shadow3 {
  box-shadow: 5px 5px 21px #b39341, -5px -5px 21px #ffff75;
}
.shadow4 {
  box-shadow: 5px 5px 21px #a06133, -5px -5px 21px #ffaf5d;
}

.plant_title {
  text-align: center;
  padding-top: 0.2rem;
}

.flex {
  display: flex;
  justify-content: center;
}

.season_txt {
  padding: 2rem;
  place-items: center;
  display: flex;
  flex-direction: column;
}

.hero_img_container {
  height: 16rem;
  overflow: hidden;
  position: relative;
}

.hero_txt_container {
  position: absolute;
  top: 5%;
  padding: 2rem;
}

.hero_img {
  border-radius: 0;
  width: 100%;
  position: absolute;
  opacity: 40%;
}

.flex a {
  text-decoration: none;
  color: var(--background_col);
  font-weight: 600;
}

.winter_container,
.spring_container,
.summer_container,
.autumn_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

@media (min-width: 700px) {
  /* .plant_title {
    margin-right: 8rem;
  } */

  .menucard {
    display: grid;
  }

  .hero_img_container {
    height: 16rem;
  }

  .hero_img {
    top: -100%;
  }

  .winter_container,
  .spring_container,
  .summer_container,
  .autumn_container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
  }

  /* .menu_content {
    height: 200px;
  } */
}

.plantImg {
  width: 10rem;
  border-radius: 5rem;
}
