/* menu styling */
/* #menu1,
#menu2,
#menu3,
#menu4 {
  border: #c24848 2px;
  color: #3a4454;
  font-size: 2.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --winter: #83b7c7;
  --spring: #bdc783;
  --summer: #fccf5b;
  --autumn: #e18848;
}

p {
  max-width: 65ch;
}

body {
}

.seasons {
  padding: 2rem;
}

.seasons h1 {
  text-align: center;
  text-transform: uppercase;
}

#winter_hero,
#spring_hero,
#summer_hero,
#autumn_hero {
  border-radius: 0;
  width: 100%;
}
.opacity {
  opacity: 40%;
}

.art_winter {
  position: relative;
}
.winter_txt {
  position: absolute;
  top: 25%;
  padding: 2rem;
}

.menucard {
  padding: 2rem;
}

#menu1 {
  background-color: var(--winter);
}
#menu1Knap {
  background-color: var(--winter);
}

#menu2 {
  background-color: var(--spring);
}
#menu2Knap {
  background-color: var(--spring);
}

#menu3 {
  background-color: var(--summer);
}
#menu3Knap {
  background-color: var(--summer);
}

#menu4 {
  background-color: var(--autumn);
}

#menu4Knap {
  background-color: var(--autumn);
}

#menu1Knap,
#menu2Knap,
#menu3Knap,
#menu4Knap {
  border-radius: 1rem 1rem 0 0;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin-left: 0.5rem;
}

.flex {
  display: flex;
  justify-content: center;
}

ul {
  list-style-type: none;
}

li {
  list-style: none;
}
.menucardflex1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.flexitem1 {
  display: flex;
  flex-direction: column;
}

@media (min-width: 700px) {
  /* .mr {
    margin-right: 8rem;
  } */

  .menucard {
    display: grid;
  }

  .menucardflex1 {
    display: flex;
    justify-content: space-around;
  }
}

img {
  width: 10rem;
  border-radius: 5rem;
}
